
@charset "utf-8";
/* CSS Document */
*{margin: 0px; padding: 0px;}
#box{width:1140px; height:520px; margin:10px; }

#box #formLeft{float:left;}
#box input#first{width:820px; height: 35px; border:1px solid #7F7F7F; font-size:18px;  }
#box textarea#contect{width:820px; height: 450px; margin-top:15px; border:1.5px solid #7F7F7F; font-size:18px; line-height: 25px; resize: none; }

#box #formRight{width:300px; height:500px; float:left; border:1.5px solid #7F7F7F; margin-left: 10px;}
#formRight .manage{width:300px; height:50px; border:1px solid #41719C;}
#formRight .manage li{float:left; width:148px; height:50px ; line-height:50px;  font-size:24px; text-align:right; list-style:none; }
#formRight p.select {width:300px; height:43px; font-size: 16px; border-bottom: 2px solid #84B4E0;}
#formRight .select span{ line-height: 43px; padding-left: 20px; padding-right: 20px; }
#formRight .select img{ vertical-align:middle; line-height:43px; padding-right:50px; padding-left: 50px;}
#formRight .select select{background-color:#5B9BD5; border-radius:5px 5px 5px 5px; line-height: 43px; }

#formRight #black{width:300px; height:180px; }
#formRight dl{width:300px; line-height:43px; font-size:20px; font-weight:700; border-top:3px solid #00B050; }
#formRight dl dt{}
#formRight dl dd input{margin-left:60px;}

#button{ float:right; margin-top:15px; }
#button a{padding:7px 40px; font-size: 26px; line-height:40px; border:1px solid #41719C;  background-color: #3888CC; text-decoration:none;  color:#fff;   }
