
@charset "utf-8";
/* CSS Document */
*{margin: 0px; padding: 0px;}
#box{width:1140px; height:520px; margin:10px; }

#box #content{ width:1140px; margin-top:200px; height:80px; }
#content .choose{ width:200px; height:100px; line-height:100px; text-align:center;
 color:#fff; background-color:#5B9BD5; float:left; margin-left:150px;}